<!DOCTYPE HTML>
<html layout:decorate="~{fragments/layout}">
<head>
    <title>Add Variant Form</title>
</head>
<body>
	<div layout:fragment="content">
    <h1>Add Variant</h1>
    <form th:action="@{/variant/save}" method="post" th:object="${variant}">
        <input type="hidden" th:field="*{id}">
        <table border="2">
            <tr>
                <td>Variant Initial</td>
                <td><input type="text" name="variantInitial" th:field="*{variantInitial}" /></td>
            </tr>
            <tr>
                <td>Variant Name</td>
                <td><input type="text" name="variantName" th:field="*{variantName}" /></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select th:field="*{categoryId}">
                        <option th:each="category: ${listCategory}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Is Active</td>
                <td><input type="checkbox" name="variantActive" th:field="*{variantActive}" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="save" value="Save"></td>
            </tr>
        </table>
    </form>
    </div>
</body>
</html>
